<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  大名：{{ name }}

  <!-- 原始语法 -->
  <% for(var i = 0; i < users.length; i++){ %>
  <div>
    <%= i %> ----
    <%= users[i] %>
  </div>
  <% } %>

  <hr>
  
  <!-- 简洁语法 -->
  {{each users}}
  <div>{{$index+1}}--- {{$value | title}}</div>
  {{/each}}
</body>

</html>